section#content {
	margin: auto;
	padding: 20px;
	line-height: 20px;
	font-family: "Roboto";
	max-width: 900px;
	position: relative;
}

section#content h2 {
	font-size: 22px;
}

section#content #byline {
	font-weight: bold;
}

section#content p {
	font-size: 12px;
}

#graph {
	width: 90%;
	margin: auto;
	padding: 20px;
}