section#content {
	margin: auto;
	padding: 20px;
	line-height: 20px;
	font-family: "Roboto";
	max-width: 700px;
	position: relative;
}

section#content h2 {
	font-size: 35px;
	line-height: 38px;
}

section#content #byline {
	font-weight: bold;
}

section#content p {
	font-size: 15px;
}

#graph {
	width: 90%;
	margin: auto;
	padding: 20px;
}

#timeline {
	max-width: 700px;
	margin: auto;
	overflow-x: scroll;
	padding: 45px;
	border: 1px solid #eee;
	border-radius: 15px;
	text-align: center;
	font-family: "Roboto";
}

#timeline img {
	height: 400px;
}
